#root {
	margin: auto;
	text-align: center;
	width: calc(100% - 2rem);
	min-height: calc(100vh - 2rem);
	display: flex;
	align-items: center;
	justify-content: center;
}

#root,
.App,
#category-container {
	width: 100%;
}

#category-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.category {
	position: relative;
	background-color: #646cff;
	padding: 2em;
	margin: 1em;
	border-radius: 2rem;
	width: 70%;
	max-width: 40rem;
}

.add-task {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	border-radius: 5rem;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: background-color 0.25s, width 0.25s;
	border: 1px solid #88b86c;
}

.add-task:hover {
	width: 4rem;
	background-color: #88b86c;
	border-color: #1a1a1a;
	color: #1a1a1a;
}

.category-content {
	padding: 2rem;
	border-radius: 2rem;
	display: grid;
	gap: 1rem;
}

.task {
	text-align: left;
	padding: 1rem;
	padding-left: 2rem;
	border-radius: 1rem;
	border: 1px solid wheat;
	background-color: #333;
}

.task > details > summary {
	list-style-position: outside;
}
